- update ||= project.updates.last
- case update.andand.status || project.status
- when 'ok', 'failed'
  - if project.last_building.present?
    .buildtime
      Build Time:
      = (Time.zone.now.midnight + project.last_buildtime.seconds).strftime('%H:%M:%S')
  - if update.andand.has_author?
    %div.health.author{'data-health' => update.author_person.health}
      %span.label= "#{update.author_person.health}%"
    = gravatar_tag update.author_person
  - else
    = anonymous_tag
- when 'building'
  .progress{'data-progress-left' => project.remaining_buildtime.to_i, 'data-progress-total' => project.last_buildtime.to_i}
    .countdown calculating
    = spinner_tag
- else
  = unknown_tag

